.champions{
    margin-top: 50px;
    margin-bottom: 200px;
    position: relative;
}
.champ-bg{
    z-index: 1;
    width: 100%;
}
.ucl-flight{
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 40%;
}
.ucl-title{
    color: snow;
    font-size: 30px;
    font-weight: bolder;
    margin: 9px;
}
.ucl-book{
    background-color: snow;
    border-radius: 10px;
    padding-left: 1.4em;
    padding-top: 0.2em;
    height: 2em;
    width: 8em;
    color: #483D8B;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}
.ucl-date{
    color: snow;
    font-size: 30px;
    font-weight: bolder;
}