*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    height: 70px;
    background-color:transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: snow;
}
.logo{
    width: 7rem;
    margin-top: 20px;
}
#user-logo{
    color: #483D8B;
    font-size: 2em;
}
.links {
    color: #483D8B;
    text-decoration: none;
    margin: 1em;
    letter-spacing: 0.3px;
    font-size: 24px;
}
.navbar-links{
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.3px;
    align-items: center;
    color: #483D8B;
}
